  <div class="row">
    <div class="col-md-5">
      <div class="col-md-offset-4">
        <h4>Guidelines for uploading</h4>
        <ul>
          <li>Make sure content is appropriate for all viewers.</li>
          <li>No swearing or griefing.</li>
          <li>Do not post personal information.</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <form class="form-horizontal" role="form" action="/run_test" method="post">
        <div class="form-group">
          <label for="link" class="col-sm-2 control-label">URL</label>
          <div class="col-md-6">
            <input type="text" class="form-control" data-ng-model="link" id="link" placeholder="Copy/paste your website URL..." required>
          </div>
        </div>

        <div class="form-group">
          <label for="file" class="col-sm-2 control-label">local file</label>
          <div class="col-md-6">
            <input type="file" class="form-control" data-ng-model="file" id="file" placeholder="Choose local file to upload..." required>
          </div>
        </div>

        <br>
        <div class="form-group">
          <div class="col-md-offset-3">
            <input type="submit" class="btn btn-success">
          </div>
        </div>
      </form>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-offset-3 col-md-6" ng-show="showTest">
      <div class="well">
        <p style="text-align: center">I represent</p>
        <h1>^(='.'=)^</h1>
        <br>
        <p style="text-align: center">a successfully added test!</p>
      </div>
    </div>
  </div>