<!-- index.html -->
{% extends "layout.html" %}

{% block hero %}
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <p class="hero-text">Imagine a world where the designers write tests for the developers. Imagine a world where red/green/factor makes a vision into reality. Imagine a testing framework for the other half.</p>
    <h1 class="hero-title">Welcome to Test-driven Design</h1>
    <br>
    <p id="#list"><a href="/test" class="btn btn-success btn-lg" role="button">Let's get started. &raquo;</a></p>
  </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}