body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEEEEE;
}

a {
  color: #00B7FF;
}

#green:hover {
  color: #00CC00;
}

#red:hover {
  color: #FF0000;
}

#footer {
  text-align: right;
  padding: 0 0 20px 0;
}