body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fefefe url('../images/bg.png') repeat;
}

a {
  color: #00b7ff;
}

#green:hover {
  color: #00cc00;
}

#red:hover {
  color: #ff0000;
}

#footer {
  text-align: right;
  padding: 0 0 20px 0;
}